@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #f8fafc;
}

input::placeholder {
  color: #94a3b8;
}

* {
  box-sizing: border-box;
}
